In [13]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [14]:
# Read the input data to dataframe
# read data
taxidf = pd.read_csv("TaxiDatset.csv")

/var/folders/fp/2f47njfx0psb1fnkqyhtlzw40000gn/T/ipykernel_52946/477103408.py:3: DtypeWarning: Columns (0,6) have mixed types. Specify dtype option on import or set low_memory=False.
  taxidf = pd.read_csv("TaxiDatset.csv")

In [15]:
print(taxidf.shape)

(11916667, 18)

In [16]:
# print columns in train data
for col in taxidf.columns:
    print(col)
    
print(taxidf.head())

VendorID
tpep_pickup_datetime
tpep_dropoff_datetime
passenger_count
trip_distance
RatecodeID
store_and_fwd_flag
PULocationID
DOLocationID
payment_type
fare_amount
extra
mta_tax
tip_amount
tolls_amount
improvement_surcharge
total_amount
congestion_surcharge
  VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count  \
0      1.0  01/01/2020 12:28:15 AM  01/01/2020 12:33:03 AM              1.0
1      1.0  01/01/2020 12:35:39 AM  01/01/2020 12:43:04 AM              1.0
2      1.0  01/01/2020 12:47:41 AM  01/01/2020 12:53:52 AM              1.0
3      1.0  01/01/2020 12:55:23 AM  01/01/2020 01:00:14 AM              1.0
4      2.0  01/01/2020 12:01:58 AM  01/01/2020 12:04:16 AM              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            1.2         1.0                  N         238.0         239.0
1            1.2         1.0                  N         239.0         238.0
2            0.6         1.0                  N         238.0         238.0
3            0.8         1.0                  N         238.0         151.0
4            0.0         1.0                  N         193.0         193.0

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0           1.0          6.0    3.0      0.5        1.47           0.0
1           1.0          7.0    3.0      0.5        1.50           0.0
2           1.0          6.0    3.0      0.5        1.00           0.0
3           1.0          5.5    0.5      0.5        1.36           0.0
4           2.0          3.5    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.27                   2.5
1                    0.3         12.30                   2.5
2                    0.3         10.80                   2.5
3                    0.3          8.16                   0.0
4                    0.3          4.80                   0.0

In [17]:
taxidf.describe()

,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1.182521e+07,1.191666e+07,1.182521e+07,1.191666e+07,1.191666e+07,1.182521e+07,1.191666e+07,1.191666e+07,1.191666e+07,1.191666e+07,1.191666e+07,1.191666e+07,1.191666e+07,1.191666e+07
mean,1.510433e+00,2.883025e+00,1.058358e+00,1.647333e+02,1.627149e+02,1.265060e+00,1.263745e+01,1.103106e+00,4.930135e-01,2.211273e+00,3.383913e-01,2.979559e-01,1.861476e+01,2.286518e+00
std,1.148961e+00,6.201270e+01,7.988823e-01,6.549421e+01,6.979486e+01,4.715778e-01,1.192985e+01,1.255213e+00,7.219710e-02,2.716217e+00,1.731260e+00,3.415368e-02,1.455109e+01,7.203948e-01
min,0.000000e+00,-3.062000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.238000e+03,-2.700000e+01,-5.000000e-01,-9.300000e+01,-3.823000e+01,-3.000000e-01,-1.242300e+03,-2.500000e+00
25%,1.000000e+00,9.600000e-01,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.960000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2.900000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.980000e+01,2.500000e+00
max,9.000000e+00,2.102401e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.265000e+03,1.130100e+02,3.951000e+01,1.100000e+03,9.255000e+02,3.000000e-01,4.268300e+03,2.750000e+00

In [18]:
# non-numerical variables
taxidf_not_num = taxidf.select_dtypes(exclude = [np.number])
print(taxidf_not_num.head())

  VendorID    tpep_pickup_datetime   tpep_dropoff_datetime store_and_fwd_flag
0      1.0  01/01/2020 12:28:15 AM  01/01/2020 12:33:03 AM                  N
1      1.0  01/01/2020 12:35:39 AM  01/01/2020 12:43:04 AM                  N
2      1.0  01/01/2020 12:47:41 AM  01/01/2020 12:53:52 AM                  N
3      1.0  01/01/2020 12:55:23 AM  01/01/2020 01:00:14 AM                  N
4      2.0  01/01/2020 12:01:58 AM  01/01/2020 12:04:16 AM                  N

In [19]:
#columns with NA's
na_cols = taxidf.columns[taxidf.isna().any()]

for c in na_cols:
    print(c + "   " + str(taxidf[c].dtype))

# number of NA's per columns
taxidf[na_cols].isna().sum()
#taxidf[na_cols].isna().sum() / taxidf.shape[0] * 100

VendorID   object
tpep_pickup_datetime   object
tpep_dropoff_datetime   object
passenger_count   float64
trip_distance   float64
RatecodeID   float64
store_and_fwd_flag   object
PULocationID   float64
DOLocationID   float64
payment_type   float64
fare_amount   float64
extra   float64
mta_tax   float64
tip_amount   float64
tolls_amount   float64
improvement_surcharge   float64
total_amount   float64
congestion_surcharge   float64

VendorID                 91448
tpep_pickup_datetime         5
tpep_dropoff_datetime        5
passenger_count          91453
trip_distance                5
RatecodeID               91453
store_and_fwd_flag       91453
PULocationID                 5
DOLocationID                 5
payment_type             91453
fare_amount                  5
extra                        5
mta_tax                      5
tip_amount                   5
tolls_amount                 5
improvement_surcharge        5
total_amount                 5
congestion_surcharge         5
dtype: int64

In [20]:
# Print the number of missing values in each column
print(taxidf.isnull().sum())

VendorID                 91448
tpep_pickup_datetime         5
tpep_dropoff_datetime        5
passenger_count          91453
trip_distance                5
RatecodeID               91453
store_and_fwd_flag       91453
PULocationID                 5
DOLocationID                 5
payment_type             91453
fare_amount                  5
extra                        5
mta_tax                      5
tip_amount                   5
tolls_amount                 5
improvement_surcharge        5
total_amount                 5
congestion_surcharge         5
dtype: int64

In [21]:
# Drop rows with any missing values
taxidf_cleaned = taxidf.dropna()

In [22]:
# Drop rows with any missing values
taxidf_cleaned = taxidf.dropna()

In [23]:
# Print the shape of the dataset after dropping missing values
print(taxidf_cleaned.shape)

(11825214, 18)

In [24]:
# Save the cleaned DataFrame to a new CSV file
taxidf_cleaned.to_csv("TaxiDataset_Cleaned.csv", index=False)